{% extends "base.html" %}
{% block css %}{% endblock %}
{% block content %}
         <div id="global">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">待办事项</div>
                            <div class="panel-body">
                                <div id="d1-c1" style="height:150px">
                                    <li>上传wish id</li>
                                    <li>上传挂毯</li>
                                    <li>上传口罩</li>
                                    <li>上传胸针</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">更新日志</div>
                            <div class="panel-body">
                                <div id="d1-c2" style="height:150px">
                                    <li>修改了地摊的图片问题</li>
                                    <li>增加了密码验证功能</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">待定</div>
                            <div class="panel-body">
                                <div id="d1-c3" style="height:150px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">待定</div>
                    <div class="panel-body">
                        <div id="d1-c5" style="height:320px"></div>
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">Native progress bars</div>
                    <table class="table table-bordered">
                        <tr>
                            <td style="white-space:nowrap">Nemo enim ipsam</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width:3%"></div>
                                </div>
                            </td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap">Neque porro quisquam</td>
                            <td style="width:100%">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" style="width:9%"></div>
                                </div>
                            </td>
                            <td>9%</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap">Et quoniam inedia</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" style="width:12%"></div>
                                </div>
                            </td>
                            <td>12%</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap">Catoni anteponas</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" style="width:38%"></div>
                                </div>
                            </td>
                            <td>38%</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap">Haec dum oriens diu perferret</td>
                            <td style="width:100%">
                                <div class="progress">
                                    <div class="progress-bar" style="width:47%"></div>
                                </div>
                            </td>
                            <td>47%</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap">Nam libero tempore</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" style="width:73%"></div>
                                </div>
                            </td>
                            <td>73%</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endblock %}
{% block js %}{% endblock %}