{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/assets/css/summernote.css')}}">
{% endblock %}
{% block content %}
        <div id="global">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">输入ID</div>
                    <div class="panel-body">
                        <div class="form-group text-right form-horizontal">
                            <div class="form-group">
                                <label for="pages" class="col-sm-2 control-label">页数</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="pages" placeholder="请输入页数" value="1">
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="form-group">
                                   <label for="merchants" class="col-sm-2 control-label">选择店铺</label>
                                   <div class="col-sm-10">
                                    <select class="form-control" id="merchants">
                                         {% for ali_merchant in ali_merchants %}
                                      <option value ="{{ali_merchant}},{{ali_merchants[ali_merchant]}}">{{ali_merchant}}</option>
                                        {% endfor %}
                                    </select>
                                   </div>
                                  </div>
                            </div>
                            <input id="cu" value="101" type="hidden">
                            <button type="submit" class="btn btn-primary" onclick="send_msg()" id="submit">开始采集</button>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                style="width: 0%;" id="progress_bar">
                            <span class="sr-only"></span>
                            </div>
                        </div>
                        <div id="text_div"></div>
                        <div id="download_link"></div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static',filename='/assets/js/summernote.min.js')}}"></script>
<script src="{{ url_for('static',filename='/assets/js/demo/notepad.js')}}"></script>
<script type="text/javascript">
    var ws = new WebSocket('ws://8.210.229.238:5000/collect');
    ws.onmessage = function (data) {
        var message = JSON.parse(data.data)

        // 生成下载文件
        if (message.msg.indexOf("csv") > -1){
            var download_link = document.getElementById('download_link');
            download_link.innerHTML = "<a href='download?file=" + message.msg + "'>下载文件</a>"
        }
        else
        {
        // 显示信息
        var text_div = document.getElementById('text_div');
        var myDate = new Date();
        var mytime = myDate.toLocaleTimeString();

        var add_msg = '<h6>' + mytime + " " + message.msg + '</h6>';
        text_div.innerHTML = add_msg;

        //显示进度条
        var percent = message.percent
        var progress_bar = document.getElementById('progress_bar');
        progress_bar.style.cssText = "width: " + percent + "%;"

        //当数据上传完毕，按钮可用
        if(message.msg == "上传完成"){
            var submit = document.getElementById('submit');
            submit.disabled = "";
        }

        }
    }
    function send_msg(){
        //按钮不可用
        var submit = document.getElementById('submit');
        submit.disabled = 'disabled';

        var msg = document.getElementById('pages').value;
        var cu = document.getElementById('cu').value;
        var obj = document.getElementById('merchants');
        var index = obj.selectedIndex; // 选中索引
        var merchants = obj.options[index].value

        message = {
            msg: msg,
            cu: cu,
            merchants: merchants
        }
        ws.send(JSON.stringify(message));
    }
</script>
{% endblock %}